@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Orelega+One&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

header .container-header {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container-header nav {
  line-height: 120px;
}
header .container-header ul {
  list-style: none;
}
header .container-header ul li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 10px;
}
header .container-header ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
header .container-header ul li .active {
  color: #0c7cec;
  border-bottom: 5px solid #0c7cec;
}

.jumbotron {
  height: 500px;
  background-image: url("../img/jumbotron.jpg");
}

main {
  background-color: #1c1c1c;
}

.container {
  position: relative;
}
.container a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #0c7cec;
  padding: 15px 25px;
  font-size: 20px;
  position: absolute;
}
.container a.top {
  top: -30px;
}
.container a.down {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.container .comics-list {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}
.container .comics-list .comic-card {
  width: calc(16.6666666667% - 30px);
  margin: 15px;
  color: white;
}
.container .comics-list .comic-card img {
  width: 100%;
}

.top-footer {
  background-color: #0c7cec;
  padding: 50px;
}
.top-footer .container-footer {
  max-width: 1180px;
  margin: 0 auto;
}
.top-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.top-footer ul li {
  margin: 0 10px;
}
.top-footer ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.top-footer ul li a .img-container {
  height: 50px;
}
.top-footer ul li a .img-container img {
  height: 100%;
  margin-right: 10px;
}

.mid-footer {
  background-image: url("../img/footer-bg.jpg");
}
.mid-footer .container-mid-foot {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  color: white;
}
.mid-footer .container-mid-foot .mid-container {
  width: 50%;
  display: flex;
}
.mid-footer .container-mid-foot .mid-container .column {
  margin-right: 25px;
}
.mid-footer .container-mid-foot .mid-container .column h2 {
  text-transform: uppercase;
  padding: 10px 0;
}
.mid-footer .container-mid-foot .mid-container .column ul {
  list-style: none;
}
.mid-footer .container-mid-foot .mid-container .column ul li a {
  text-decoration: none;
  color: gray;
}
.mid-footer .container-mid-foot .left {
  padding: 50px 0;
}
.mid-footer .container-mid-foot .right {
  background-image: url("../img/dc-logo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-footer {
  background-color: #1c1c1c;
}
.bottom-footer .container-btm {
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.bottom-footer .container-btm button {
  text-transform: uppercase;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
  border-color: #0c7cec;
  cursor: pointer;
}
.bottom-footer .container-btm .right-btm-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-footer .container-btm .right-btm-container a {
  color: #0c7cec;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}